* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fuzzy Bubbles', cursive;
}

.img1 {
    background-image: url("https://s1.1zoom.me/b5050/160/354276-admin_1920x1080.jpg");
    height: 100vh;
}

.img2 {
    background-image: url("https://wallpaperaccess.com/full/5691501.jpg");
    height: 50vh;
}

.img3 {
    background-image: url("https://wallpaperaccess.com/full/1249472.jpg");
    height: 50vh;
}


.img1, .img2, .img3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 70%;
}

.text1 {
    background-color: black;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text1, .text2, .text3 {
    font-size: 36px;
    font-weight: bold;   
    width: 580px;
    text-align: center;
    color: white;
}

section {
    background-color: blue;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    text-align: center;
}

section p {
    width: 80%;
    margin-top: 20px;
}